<footer class="py-3 my-4  footer">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a routerLink="#" class="nav-link px-2  footer-links">Home</a></li>
    <li class="nav-item"><a routerLink="#" class="nav-link px-2  footer-links">Vendi la tua barca</a></li>
    <li class="nav-item"><a routerLink="#" class="nav-link px-2  footer-links">Prezzi</a></li>
    <li class="nav-item"><a routerLink="#" class="nav-link px-2  footer-links">Contatti</a></li>
    <li class="nav-item"><a routerLink="#" class="nav-link px-2  footer-links">Chi Siamo</a></li>
  </ul>
  <p class="text-center text-black">© 2024 BoatsItalia, All rights reserved</p>
</footer>
```
