$root-font-family: 'Lobster';

.navbar {
  background-color: #ffffff;
  color: white;
  .navbar-brand {
    color: #025879;
    font-size: 2em;
    font-family: $root-font-family;
    font-weight: 700;
    &:hover {
      color: #0d47a1;
    }
  }


 .icon {
  color: black;

}
  .navbar-toggler {
    border-color: white
  }

  .navbar-toggler-icon {
    background-color: white;
  }

  .nav-link {
    color: black ;
    font-size: 1.1em;
    font-weight: 500;
    &:hover {
      color: #0d47a1;
    }
  }


}

