<input autofocus="" type="text" id="search-input" name="src" class="search__input js-search-input tt-input"
  placeholder="Che cosa stai cercando?  «Motoscafo» o  «Yacht a vela classico»" autocomplete="off" spellcheck="false"
  dir="auto" style="position: relative; vertical-align: top;" aria-owns="search-input_listbox" role="combobox"
  aria-autocomplete="list" aria-expanded="false">
<button type="submit" class="search__button button button--primary js-search-action"><span
    class="icon icon--search-dark"></span><span class="search__button-text"><i class="bi bi-search"></i></span></button>
