body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 20px;
}

h3 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
form {
  background-color: #f6f7f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(4, 235, 243, 0.1);
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
}

.search-container, .filter-container {
  background-color: #f6f7f9; /* Cambiamo il colore dello sfondo per adattarlo al form "Crea il tuo annuncio" */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(4, 235, 243, 0.1);
  margin-bottom: 20px;
}

.search-container .search-input-container {
  margin-right: 20px;
}

.search-container .search-label {
  margin-right: 10px;
  font-size: 16px;
}

.search-container .search-input {
  padding: 10px; /* Abbiamo ridotto il padding per adattarlo allo stile del form */
  border: 1px solid #ddd; /* Cambiamo il colore del bordo per adattarlo allo stile del form */
  width: 100%; /* Modifichiamo la larghezza per occupare l'intera larghezza del contenitore */
}

.search-container .search-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.search-container .search-button:hover {
  background-color: #0056b3;
}

.filter-item {
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.filter-item label {
  margin-right: 10px;
  font-size: 16px;
}

.filter-item input[type="text"],
.filter-item input[type="number"],
.filter-item select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  font-size: 14px;
}

.filter-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.filter-button:hover {
  background-color: #0056b3;
}
