.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.your-advertise,
.new-advertise,
.favourites,
.settings {
  width: calc(50% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.your-advertise i,
.new-advertise i,
.favourites i,
.settings i {
  font-size: 48px;
  margin-bottom: 10px;
}

.your-advertise h3,
.new-advertise h3,
.favourites h3,
.settings h3 {
  text-align: center;
  margin-top: 10px;
}

.your-advertise ul,
.new-advertise ul,
.favourites ul,
.settings ul {
  list-style: none;
  padding: 0;
}

.your-advertise ul li,
.new-advertise ul li,
.favourites ul li,
.settings ul li {
  margin-top: 5px;
}

.your-advertise a,
.new-advertise a,
.favourites a,
.settings a {
  display: block;
  text-align: center;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 5cm;
}

.your-advertise a:hover,
.new-advertise a:hover,
.favourites a:hover,
.settings a:hover {
  background-color: #0056b3;
}

@media only screen and (min-width: 768px) {
  .container {
    justify-content: center;
  }

  .your-advertise,
  .new-advertise,
  .favourites,
  .settings {
    width: calc(33.33% - 20px);
  }
}

@media only screen and (min-width: 1200px) {
  .your-advertise,
  .new-advertise,
  .favourites,
  .settings {
    width: calc(25% - 20px);
  }
}

@media only screen and (min-width: 2560px) {
  .your-advertise,
  .new-advertise,
  .favourites,
  .settings {
    width: calc(20% - 20px);
  }
}
