<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card text-center" style="margin-bottom: 20px; height: 250px;">
        <div class="card-body">
          <i class="bi bi-file-earmark-plus-fill" style="font-size: 2rem;"></i>
          <i class="bi bi-trash-fill" style="font-size: 2rem; margin-left: 10px;"></i>
          <h5 class="card-title mt-3">I tuoi annunci</h5>
          <p class="card-text">Qui puoi gestire i tuoi annunci, modificarli o cancellarli.</p>
          <a href="#" class="btn btn-primary m-3">Modifica annuncio</a>
          <a href="#" class="btn btn-danger">Cancella annuncio</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center" style="margin-bottom: 20px; height: 250px;">
        <div class="card-body">
          <i class="bi bi-heart-fill" style="font-size: 2rem;"></i>
          <h5 class="card-title mt-3">Preferiti</h5>
          <p class="card-text">Visualizza gli annunci che hai salvato</p>
          <a href="#" class="btn btn-primary">Vedi preferiti</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center" style="margin-bottom: 20px; height: 250px;">
        <div class="card-body">
          <i class="bi bi-gear-fill" style="font-size: 2rem;"></i>
          <h5 class="card-title mt-3">Impostazioni</h5>
          <p class="card-text">Gestisci il tuo account BoatsItalia.</p>
          <a href="#" class="btn btn-primary m-3">Cambia email</a>
          <a href="#" class="btn btn-primary">Cambia password</a>
        </div>
      </div>
    </div>
  </div>
</div>
