<div class="container">

  <div class="your-advertise">

      <div class="">
        <i class="bi bi-file-earmark-plus-fill"></i>
        <i class="bi bi-trash-fill"></i>

      </div>

    <div class="">
      <h3 class="">Il tuo annuncio</h3>
      <ul class="">
        <li class=""><span class="">577441</span><span class="">Inserzione-ID</span></li>
      </ul>
    </div>
    <div class="">
      <ul class="">
        <li><a href="" title="Modificare inserzione"><span class=""></span>Modificare annuncio</a></li>


      </ul>
      <a href="" title="Cancellare l'inserzione" class="">Cancellare
        l'annuncio</a>
    </div>
  </div>




  <div class="new-advertise">
    <i class="bi bi-plus-circle-fill"></i>
    <div class="">
      <h3 class="">Inserire un'inserzione</h3>
      <p class="">Vuoi vendere una barca? Carica il tuo annuncio su BoatsItalia.</p>
      <ul class="">
        <li><a href="" title="Nuova inserzione" class="">Nuova inserzione</a></li>
        <li><a href="" title="Lista prezzi" class="">Lista
            prezzi</a></li>
      </ul>
    </div>
  </div>


  <div class="favourites">
    <i class="bi bi-heart-fill"></i>
    <div class="">
      <h3 class="">Favoriti</h3>
      <p class="">Salva le offerte interessanti in una lista di favoriti</p>
      <ul class="">
        <li><a href="" title="I tuoi favoriti" class="">I tuoi
            favoriti</a></li>
      </ul>
    </div>
  </div>


  <div class="settings">
    <i class="bi bi-gear-fill"></i>
    <div class="">
      <h3 class="">Impostazioni</h3>
      <p class="">Il tuo account BoatsItalia</p>
      <ul class="">
        <li><a href="" title="Cambiare indirizzo email" class="">Cambiare indirizzo email</a></li>
        <li><a href="" title="Cambiare password" class="">Cambiare password</a></li>
      </ul>
    </div>
  </div>
</div>
