
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
  background-color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5rem;
  margin-top: 2rem;
  font-family: "Sarabun", sans-serif;
  text-align: left;
  width: 50%;


}

// Stile per il campo di input di ricerca
.search__input {
  width: 100%; // Larghezza del campo di input
  max-width: 500px; // Larghezza massima del campo di input
  padding: 10px; // Spaziatura interna
  border: 1px solid #ccc; // Bordo
  border-radius: 5px; // Bordi arrotondati
  font-size: 16px; // Dimensione del carattere
  margin-right: 10px; // Spaziatura a destra rispetto al pulsante
}

// Stile per il pulsante di ricerca
.search__button {
  padding: 10px ; // Spaziatura interna
  border: none; // Rimuovi il bordo
  border-radius: 5px; // Bordi arrotondati
  background-color: #007bff; // Colore di sfondo
  color: white; // Colore del testo
  font-size: 16px; // Dimensione del carattere
  cursor: pointer; // Cambia il cursore al passaggio sopra il pulsante
}

// Stile per il pulsante di ricerca quando passa sopra
.search__button:hover {
  background-color: #0056b3; // Cambia il colore di sfondo al passaggio del mouse
}

// Stile per il testo all'interno del pulsante
.search__button-text {
  margin-left: 5px; // Spaziatura a sinistra rispetto all'icona
}

// Media query per adattare lo stile in base alle dimensioni dello schermo
@media screen and (max-width: 768px) {
  .search__input {
    width: calc(100% - 60px); // Adatta la larghezza del campo di input per schermi più piccoli
  }

  .search__button {
    margin-top: 10px; // Aggiusta lo spazio tra il campo di input e il pulsante per schermi più piccoli
  }



}
.separation-line{
  border-top: 2px solid #3905f7;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}

.container-search{
padding: 1cm;
margin-top: 1rem;
background-color:linear-gradient(90deg, #1E74D1 10%, #FFFFFF 100%);
background:-webkit-linear-gradient(90deg, #1E74D1 10%, #FFFFFF 100%);
background:-moz-linear-gradient(90deg, #1E74D1 10%, #FFFFFF 100%);
background:-ms-linear-gradient(90deg, #1E74D1 10%, #FFFFFF 100%);
background:-o-linear-gradient(90deg, #1E74D1 10%, #FFFFFF 100%);


}
.container-cards{
padding: 1cm;
margin-top: 1rem;
background-color: white;
}
.section-title{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-family: 'Lobster';
}

.icon{

  fill: #3905f7;
  &:hover{
    cursor: pointer;
    color: #3905f7;
    transition: color 0.3s ease;
  }

}

/* Media query per smartphone (fino a 600px) */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.2rem;
    width: 100%; /* Adatta la larghezza del titolo per schermi più piccoli */
    margin-bottom: 3rem; /* Riduci lo spazio inferiore */
    margin-top: 1rem; /* Riduci lo spazio superiore */
  }

  .search__input {
    width: calc(100% - 90px); /* Adatta la larghezza del campo di input per schermi più piccoli */
  }

  .search__button {
    margin-top: 10px; /* Aggiusta lo spazio tra il campo di input e il pulsante per schermi più piccoli */
  }

  .container-search,
  .container-cards {
    padding: 0.5cm; /* Riduci il padding per gli elementi principali */
    margin-top: 0.5rem; /* Riduci lo spazio superiore per gli elementi principali */
  }

  .section-title {
    font-size: 1.2rem; /* Riduci la dimensione del titolo per schermi più piccoli */
    margin-bottom: 1rem; /* Riduci lo spazio inferiore per il titolo */
    margin-top: 0.5rem; /* Riduci lo spazio superiore per il titolo */
  }

  .custom-card {
    height: 250px; /* Riduci l'altezza delle card per adattarle a schermi più piccoli */
  }

  .card-title {
    font-size: 12px; /* Riduci la dimensione del testo per schermi più piccoli */
    padding: 8px; /* Riduci il padding per il titolo della card */
    border-radius: 20px; /* Riduci il raggio dei bordi per il titolo della card */
  }
}

/* Media query per tablet (da 601px a 900px) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Aggiungi qui eventuali regole CSS per tablet */
  .container {
    padding: 30px;
  }
}

/* Media query per laptop (da 901px a 1200px) */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  /* Aggiungi qui eventuali regole CSS per laptop */
}

/* Media query per TV (da 1201px in su) */
@media only screen and (min-width: 1201px) {
  /* Aggiungi qui eventuali regole CSS per TV */
}


/* for the pen */
html, body {
  margin: 0;
  min-height: 100%;
  background-color: #f2f2f2;
}

/* waves */
.ocean {
  height: 50px; /* change the height of the waves here */
  overflow: hidden;
  position: relative;
  background: #1E74D1;

}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 10;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}
.custom-card
{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: auto;
  &:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0 #3905f7;
    transition: box-shadow 0.3s ease;
  }
}
.card-title{
  padding: 12px;
  background-color: #2674e9;
  text-align: center;
  color: white;
  font-size: 14px;
  border-radius: 30px;
  font-weight: 700;
  &:hover{
    cursor: pointer;
    color: #1b0c52;
    transition: color 0.3s ease;
  }

}
.card-announcement-list{
  padding: 1rem;
  margin-top: 1rem;
  background-color: white;
  border-radius: 30px;

  &:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0 #2674e9;
    transition: box-shadow 0.3s ease;
  }

}

.page-navigation-example{
  &.hover{
    cursor: pointer;
    color: #3905f7;
    transition: color 0.3s ease;
  }
}

