

<div class="container-search">
  <p class="title">Trova o vendi la tua barca, concludi il tuo affare e goditi il mare di offerte!</p>

<hr class="separation-line">

<h5 class="section-title">Seleziona la categoria e inizia la tua ricerca</h5>




  <input autofocus="" type="text" id="search-input" name="src" class="search__input js-search-input tt-input"
    placeholder="Che cosa stai cercando?  «Motoscafo» o  «Yacht a vela classico»" autocomplete="off" spellcheck="false"
    dir="auto" style="position: relative; vertical-align: top;" aria-owns="search-input_listbox" role="combobox"
    aria-autocomplete="list" aria-expanded="true">
  <button type="submit" class="search__button button button--primary js-search-action"><span
      class="icon icon--search-dark"></span><span class="search__button-text"><i
        class="bi bi-search"></i></span></button>



  <div class="row  mt-3">
    <div class="col-md-2">
      <div class="card h-100 custom-card">
        <img src="../../../assets/barca a motore 2. jpg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Barche a motore</h5>

          <a routerLink="#" class="btn btn-primary">Visualizza annunci</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card h-100 custom-card">
        <img src="../../../assets/Barca a vela.jpg" class="card-img-top" alt="...">
        <div class="card-body mb-1">
          <h5 class="card-title">Barche a vela</h5>

          <a routerLink="#" class="btn btn-primary">Visualizza annunci</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card h-100 custom-card">
        <img src="../../../assets/gommone 2.jpg" class="card-img-top " alt="...">
        <div class="card-body ">
          <h5 class="card-title">Gommoni</h5>

          <a routerLink="#" class="btn btn-primary">Visualizza annunci</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card h-100 custom-card">
        <img src="../../../assets/moto d'acqua 2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title ">Moto d'acqua</h5>

          <a routerLink="#" class="btn btn-primary">Visualizza annunci</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card h-100 custom-card">
        <img src="../../../assets/rimorchio barca.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title ">Rimorchi</h5>

          <a routerLink="#" class="btn btn-primary">Visualizza annunci</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card h-100 custom-card">
        <img src="../../../assets/accessori.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title ">Accessori</h5>

          <a routerLink="#" class="btn btn-primary">Visualizza annunci</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-cards">
  <p class="section-title">Naviga tra le offerte</p>

  <div class="card " style="width: 15rem;">
    <img src="../../../assets/vele-nomenclatura.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Titolo</h3>
      <h5 class="card-title">Prezzo</h5>

      <p class="card-text">Descrizione Barca</p>
      <a routerLink="#" class="btn btn-primary">Vai all'annuncio</a>
    </div>
  </div>
</div>



<nav aria-label="Page navigation example ">
  <ul class="pagination m-5">
    <li class="page-item ">
      <a class="page-link " routerLink="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
