body{
  background-color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5rem;
  margin-top: 2rem;
  font-family: 'Lobster';
  

}

// Stile per il campo di input di ricerca
.search__input {
  width: 100%; // Larghezza del campo di input
  max-width: 500px; // Larghezza massima del campo di input
  padding: 10px; // Spaziatura interna
  border: 1px solid #ccc; // Bordo
  border-radius: 5px; // Bordi arrotondati
  font-size: 16px; // Dimensione del carattere
  margin-right: 10px; // Spaziatura a destra rispetto al pulsante
}

// Stile per il pulsante di ricerca
.search__button {
  padding: 10px 20px; // Spaziatura interna
  border: none; // Rimuovi il bordo
  border-radius: 5px; // Bordi arrotondati
  background-color: #007bff; // Colore di sfondo
  color: white; // Colore del testo
  font-size: 16px; // Dimensione del carattere
  cursor: pointer; // Cambia il cursore al passaggio sopra il pulsante
}

// Stile per il pulsante di ricerca quando passa sopra
.search__button:hover {
  background-color: #0056b3; // Cambia il colore di sfondo al passaggio del mouse
}

// Stile per il testo all'interno del pulsante
.search__button-text {
  margin-left: 5px; // Spaziatura a sinistra rispetto all'icona
}

// Media query per adattare lo stile in base alle dimensioni dello schermo
@media screen and (max-width: 768px) {
  .search__input {
    width: calc(100% - 60px); // Adatta la larghezza del campo di input per schermi più piccoli
  }

  .search__button {
    margin-top: 10px; // Aggiusta lo spazio tra il campo di input e il pulsante per schermi più piccoli
  }



}
.separation-line{
  border-top: 2px solid #3905f7;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}

.container-search{
padding: 1cm;
margin-top: 1rem;
background-color: rgb(155, 219, 245);
}
.container-cards{
padding: 1cm;
margin-top: 1rem;
background-color: white;
}
.section-title{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-family: 'Lobster';
}

