
<div id="background" *ngIf="!isRegistered">
  <div id="card" >
    <div class="page m-1">
      <h2>Inserisci i tuoi dati</h2>
      <form [formGroup]="registerForm">
        <p><label for="name">Nome
          </label>
          <input [formControl]="registerForm.controls.firstName" type="text" name="name" id="name">
        </p>
          <p><label for="last">Cognome
          </label>
          <input [formControl]="registerForm.controls.lastName" type="text" name="last" id="last">
        </p>
        <p><label for="last">UserName
        </label>
        <input [formControl]="registerForm.controls.username" type="text" name="last" id="userName">
      </p>
        <p><label for="mail">Email
          </label>
          <input  [formControl]="registerForm.controls.email" type="email" name="mail" id="mail">
        </p>
        <p><label for="passnew">Password
          </label>
          <input  [formControl]="registerForm.controls.password" type="password" name="passnew" id="passnew">
        </p>

        <button (click)="registerUser($event)">Registrati</button>

      </form>
    </div>
  </div>
</div>

<div *ngIf="isRegistered">Benvenuto</div>
