/* Stile base */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.image-container img {
  max-width: 30%;
  border: 2px solid #333;
}

.seller-details {
  margin-top: 40px;
}

.seller-details h2 {
  color: #333;
}

/* Personalizzazione degli elementi specifici */
.model,
.length,
.year,
.condition,
.price,
.location,
.name,
.phone,
.email {
  font-weight: bold;
  color: #007bff;
}

.description-text {
  color: #555;
}

/* Media query per smartphone */
@media screen and (max-width: 576px) {
  main {
    padding: 10px;
  }
  .image-container {
    flex-direction: column;
    align-items: center;
  }
  .image-container img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .seller-details {
    text-align: center;
  }
}

/* Media query per tablet */
@media screen and (min-width: 577px) and (max-width: 1024px) {
  main {
    padding: 15px;
  }
}

/* Media query per laptop */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  main {
    padding: 20px;
  }
}

/* Media query per tv */
@media screen and (min-width: 1441px) {
  main {
    padding: 25px;
  }
}
