<div class="container">
  <h1>Annuncio</h1>


  <div class="images">

    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="boat-details">
    <h2>Dettagli dell'Imbarcazione</h2>
    <ul>
      <li>Modello: <span class="title">Modello dell'Imbarcazione</span></li>
      <li>Prezzo: <span class="price">Prezzo dell'Imbarcazione</span></li>
      <li>Ubicazione: <span class="location">Ubicazione dell'Imbarcazione</span></li>
    </ul>
  </div>
  <div class="description">
    <h2>Descrizione</h2>
    <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae fermentum odio, eu
      eleifend mauris. Fusce ac enim sit amet sem fermentum rutrum.</p>
  </div>



  <div class="seller-details">
    <h2>Recapiti Venditore</h2>
    <ul>
      <li>Nome: <span class="name">Nome del Venditore</span></li>
      <li>Telefono: <span class="phone">Telefono del Venditore</span></li>
      <li>Email: <span class="email">Email del Venditore</span></li>
    </ul>
  </div>

</div>
